<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- Nav tabs -->
      <div class="card">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
          <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
          <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
          <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
            Simple Tab One
          </div>
          <div role="tabpanel" class="tab-pane" id="profile">
            Simple Tab 2
          </div>
          <div role="tabpanel" class="tab-pane" id="messages">
            Simple tab 3
          </div>
          <div role="tabpanel" class="tab-pane" id="settings">
            Simple Tab 4
          </div>
        </div>
      </div>
    </div>
  </div>
</div>