.container {
  display: inline-flex;
  width: 100%;
  .section-one {
    flex:1;
    width: 50px;
  }
  .section-two {
    flex:1;
    width: 50px;
  }

  .section-three {
    flex:1;
    width: 50px;
  }

}